<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidTest.movieDemo">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:name="com.androidTest.movieDemo.di.App"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@drawable/ic_movie"
        android:label="Movies"
        android:roundIcon="@drawable/ic_movie"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.androidTest.movieDemo.ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>